<p-dataTable [value]="companies"
             [paginator]="true"
             [rows]="10"
             [responsive]="true"
             selectionMode="single"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnselect)="onRowUnselect($event)"
             [pageLinks]="4"
             [rowsPerPageOptions]="[5,10,20]"
>
  <p-header>Companies</p-header>
  <p-column field="id" header="ID"></p-column>
  <p-column field="companyName" header="Name"></p-column>
  <p-footer>{{selectionMessage}}</p-footer>
</p-dataTable>